<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CCOnlineSSO64.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="URL" value="http://172.16.4.107:8011/AU_ONE_RMS_SERVICE/Service1.svc"/>
    <!--<add key="URL" value="http://localhost:59812//Service1.svc"/>-->    
    <add key="Admin" value="1"/>
    <add key="TestUser" value="1"/>
    <add key="SSOLogin" value="false"/>
    <add key="BankName" value="AU SMALL FINANCE BANK"/>
    <add key="CallLogRequired" value="false"/>    
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="SessionWarning" value="20"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <microsoft.identityModel>
    <service>
      <audienceUris>
        <!--UAT-->
        <add value="https://cdkrms2uat.statebanktimes.in/ctscdktest/"/>
        <add value="https://fs.testsso.com/adfs/Services/Trust/"/>
        <!--Production-->
        <!--<add value="https://10.209.75.23/" />
        <add value="https://sso.sbi.co.in/adfs/Services/Trust" />-->
      </audienceUris>
      <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <trustedIssuers>
          <add thumbprint="da12f5d45965a2ad68815079a02e874f1fd9d213" name="https://fs.testsso.com/adfs/services/trust/"/>
          <!--<add thumbprint="88d747ea9bc03f8baa88baefc498c9903deba37f" name="https://sso.sbi.co.in/adfs/ls/" />-->
          <!--name="https://fs.testsso.com/adfs/services/trust/" />-->
        </trustedIssuers>
      </issuerNameRegistry>
      <certificateValidation certificateValidationMode="None"/>
      <federatedAuthentication>
        <!--UAT-->
        <!--
        <wsFederation passiveRedirectEnabled="true" issuer="https://fs.testsso.com/adfs/ls/" realm="https://10.4.226.31/CTMonitorSSO/" reply="https://10.4.226.31/CTMonitorSSO/Login.aspx" requireHttps="true" />
        -->
        <!--Production-->
        <wsFederation passiveRedirectEnabled="true" issuer="https://fs.testsso.com/adfs/ls/" realm="https://cdkrms2uat.statebanktimes.in/ctscdktest/" reply="https://cdkrms2uat.statebanktimes.in/ctscdktest/Default.aspx" requireHttps="true"/>
      </federatedAuthentication>
    </service>
  </microsoft.identityModel>
  <system.web>
    <httpRuntime enableVersionHeader="false" maxRequestLength="20480"/>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <pages enableEventValidation="false" validateRequest="true" enableViewStateMac="true" viewStateEncryptionMode="Always">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <sessionState timeout="30" cookieless="false" mode="InProc"/>
    <authentication mode="Forms">
      <forms timeout="30"/>
    </authentication>
    <customErrors mode="Off" defaultRedirect="CustomError.aspx"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <remove name="X-Powered-By"/>
        <add name="Access-Control-Allow-Origin" value="https://swayamlipiuat.sbi"/>
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept"/>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <directoryBrowse enabled="false"/>
    <!--<httpErrors errorMode="Custom" defaultResponseMode="Redirect">
      <error statusCode="404" subStatusCode="0" path="CustomError.aspx" responseMode="Redirect"/>
      <error statusCode="403" subStatusCode="0" path="CustomError.aspx" responseMode="Redirect"/>
      <error statusCode="401" subStatusCode="0" path="CustomError.aspx" responseMode="Redirect"/>
      <error statusCode="405" subStatusCode="0" path="CustomError.aspx" responseMode="Redirect"/>
      <error statusCode="406" subStatusCode="0" path="CustomError.aspx" responseMode="Redirect"/>
      <error statusCode="412" subStatusCode="0" path="CustomError.aspx" responseMode="Redirect"/>
      <error statusCode="500" subStatusCode="0" path="CustomError.aspx" responseMode="Redirect"/>
      <error statusCode="501" subStatusCode="0" path="CustomError.aspx" responseMode="Redirect"/>
      <error statusCode="502" subStatusCode="0" path="CustomError.aspx" responseMode="Redirect"/>
    </httpErrors>-->
  </system.webServer>
</configuration>